<article id="ejs" class="container">
	<h1>
		<a href="<%=link%>" target="_blank"><%=title%></a>
	</h1>
	<p><%=description%></p>
</article>
<br>
<div id="logo-node"></div>
<br>
<button id="presioname">Presióname</button>
<script>
	//alert('JavaScript ejecutado desde EJS')
	document.querySelector('#presioname').onclick = () => {
		alert('He presionado el botón desde EJS con JavaScript')
	}
</script>
<article class="container">
	<h2>Estaciones del Año en México</h2>
	<% for(var i=0; i<seasons.length; i++){ %>
		<div class="item">
			<h3><%=seasons[i][0]%></h3>
			<ul>
				<% for(var j=0; j<seasons[i][1].length; j++){ %>
					<li><%=seasons[i][1][j]%></li>
				<% } %>
			</ul>
		</div>
	<% } %>
</article>