extends layout

block content
	section.container
		include header
		article.item
			-if(data.length)
				table.table
					tr
						th Id
						th Título
						th Año
						th Puntuación
						th Poster
						th(colspan="2")
							form(method="GET" action="/agregar")
								input.button.add(type="submit", value="Agregar")
					-each movie in data
						tr
							td #{movie.movie_id}
							td #{movie.title}
							td #{movie.release_year}
							td #{movie.rating}
							td
								img.poster(src="#{movie.image}", alt="#{movie.title}")
							td
								form(method="GET" action="/editar/#{movie.movie_id}")
									input.button.edit(type="submit", value="Editar")
							td
								form(method="POST" action="/eliminar/#{movie.movie_id}")
									input.button.delete(type="button", value="Eliminar" onclick="eliminar(this)")
									input(type="hidden", name="_method", value="DELETE")
				script.
					function eliminar(input)
					{
						var deleteOk = confirm('¿Estás seguro de eliminar la película?')
						return (deleteOk) ? input.parentNode.submit() : false
					}
			-else
				p.error No existen Películas en la Base de Datos.